$colors: (
    common: (
        white: #ffffff,
        black: #232323,
    ),
    heading: (
        primary: #232323,
        secondary:#D4F579,
        b-light:#4E9CA5,
    ),
    grey: (
        1:#F8FAFA,
        2:#F5F6F8,

    ),
    text: (
        body:#232323,
        1:#232323,
        2:#777C90,
    ),
    theme: (
        0:#4E9CA5,
        1: #21494E,
        2: #2B6D95,
        3: #D4F579,
        4: #232323,

    ),
    border: (
        1: #fff,
        2: #245D51,
    )
);
